data-factory/pl_transform_f1_data.json
{
    "name": "pl_transform_f1_data",
    "properties": {
        "activities": [
            {
                "name": "Get Folder Details",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_f1_raw_incremental",
                        "type": "DatasetReference",
                        "parameters": {
                            "p_window_end_date": {
                                "value": "@pipeline().parameters.p_window_end_date",
                                "type": "Expression"
                            }
                        }
                    },
                    "fieldList": [
                        "exists"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "JsonReadSettings"
                    }
                }
            },
            {
                "name": "If Folder Exists",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Get Folder Details",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@activity('Get Folder Details').output.exists",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "transform race results",
                            "type": "DatabricksNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "/Formula1/trans_inc_load_delta/1.race_results_delta",
                                "baseParameters": {
                                    "p_file_date": {
                                        "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "ls_databricks_coruse_ws",
                                "type": "LinkedServiceReference"
                            }
                        },
                        {
                            "name": "transform drivers stangings",
                            "type": "DatabricksNotebook",
                            "dependsOn": [
                                {
                                    "activity": "transform race results",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "/Formula1/trans_inc_load_delta/2.driver_standing_delta",
                                "baseParameters": {
                                    "p_file_date": {
                                        "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "ls_databricks_coruse_ws",
                                "type": "LinkedServiceReference"
                            }
                        },
                        {
                            "name": "transform constructor stanginds",
                            "type": "DatabricksNotebook",
                            "dependsOn": [
                                {
                                    "activity": "transform race results",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "/Formula1/trans_inc_load_delta/3.constructors_standing_delta",
                                "baseParameters": {
                                    "p_file_date": {
                                        "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "ls_databricks_coruse_ws",
                                "type": "LinkedServiceReference"
                            }
                        }
                    ]
                }
            }
        ],
        "concurrency": 1,
        "parameters": {
            "p_window_end_date": {
                "type": "string"
            }
        },
        "variables": {
            "v_data_source": {
                "type": "String",
                "defaultValue": "Ergast"
            }
        },
        "annotations": [],
        "lastPublishTime": "2024-05-07T22:22:45Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}